 #user-profile {
    margin: 20px;
    margin-top: 40px;
} 

 #user-profile-pic {
    /* display: block; */
    /* margin: auto; */
    margin-bottom: 50px;
} 

.my-btns {
  margin: 10px;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}